@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');
:root{
    --primary-clr:rgb(31,41,55);
    --secondary-clr:rgb(215,0,38);
    --supporting-clr:rgb(244,233,216);
    --background-clr:rgb(245,245,245);
}
html{
    font-size:16px;
    background-color:var(--background-clr);
}
*{
    margin:0;
    font-family:'Noto Serif JP', serif;
}
.navigation-pane{
    z-index:0;
    box-shadow:1px 1px 1px 0.5px gray;
    height:clamp(5vh,8vh,8vh);
    position:relative;
    width:100%;
    display:flex;
    border-style:solid;
    background-color:var(--primary-clr);
    
}
.header{
    display:flex;
    align-content:center;
    font-size:clamp(1vw,2.3vw,25px);
    text-align:center;
    height:auto;
    top:0;
    color:var(--supporting-clr);
}
.header div{
    text-align:center;
    display:flex;
    align-items:center;
    padding:1vw;
    
}
.media-logos img{
  object-fit:contain;
   max-width:14vw;
   height:100%;
   
   
    
        
}
.media-logos{
    height:100%;
    object-fit:contain;
}

 
  


.search-box{
    height:3vh;
    display:flex;
    position:absolute;
    top:50%;
    font-size:3vw;
    width:21vw;
    transform:translateY(-50%);
    min-width:5vw;
    border:1px;
    border-style:solid;
    right:0;
    border-radius:20px;
    
}
.social-medias{
    display:inline-block;
    height:100vh;
    position:
}
.social-medias img{
    display:flex;
    flex-direction:row;
    margin-top:1vh;
    margin-left:1vh;
    max-width:6vw;
    
}
.menu{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
   
    position:relative;
    flex-grow:1;
    height:2vh;
    font-size:1vw;
      
    
    

}
.menu>div {
    border-style:solid;
    border-top:none;
    border-right:none;
    justify-items:center;
    text-align:center;
    align-items:center;

}
.Menu1{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    font-size:clamp(14px,1.4vw,3.1vw);
    text-align:center;
    margin-top:3vh;
    border-radius:20px;
    margin-left:10vw;
    margin-right:10vw;
    gap:2vw;
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
    background-color: var(--supporting-clr);
   

   
    


}
.Menu1 img{
    width:7rem;
    height:13vh;
    object-fit:contain;
    display:flex;
    position:relative;

    
}
.Menu1 p{
    color:var(--supporting-clr);
    display:flex;
    right:30%;
    font-size:2rem;
    


   
}

.Menu1>div{
    display:flex;
    border-width:0.5px;
    border-radius:20px;
    background-color:var(--primary-clr);
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    position:relative;

}
.Hero{
    display:flex;
   
    
    
    margin-top:10px;
}
.Hero>div{
   
}
.Hero img{
    object-fit:cover;
    width:33vw;
    height:40vh;
}
.Soba-menu img{
    width:10vw;
    height:13vh;
    object-fit:contain;
    border-radius:90px;
    display:flex;
    position:relative;
    right:0;
}
.Soba-menu{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
    

    height:clamp(20px,15vh,20vh);
    margin-left:5vw;
    margin-right:5vw;
    position:relative;
}
.Soba-menu>div{
    border-radius:20px;
    background-color:gray;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width:clamp(30px,20vw,30vw);
    position:relative;
    font-size:1.5rem;
    font-family:'Noto Serif JP', serif;
    background-color:var(--primary-clr);

}
.Soba-menu p{
    display:flex;
    text-align:center;
    font-size:1.5rem;
    font-family:EB-Garamond;
    color:gold;
    
    color:var(--supporting-clr);
    
    
    
}
.price{
    display:flex;
}


    


    
    

@media (min-width:300px) and (max-width:600px){
    .Menu1{
        display:flex;
        flex-direction:column;
    }
    .Menu1 img{
        
    }
    .media-logos img{
        max-width:15vw;
        height:100%;                                        
        
    }
    html{
        font-size:12px;
    }
    .menu{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
   
    position:relative;
    flex-grow:1;
    height:2vh;
    font-size:3vw;
    }
    .Soba-menu>div{
        flex: 1 1 200px;
        margin-bottom:10px;
    }

    .Soba-menu img{
        width:20vw;
        height:14vh;
    }
    .Soba-menu p{
        font-size:6vw;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    html{
        font-size:10px;
    }
    .header {
        font-size: clamp(18px, 2vw, 24px);
    }
    
    
    .media-logos img {
        max-width: 18vw;
    }

    .social-medias {
        gap: 1vw;
        width: 12%;
        top: 50%;
        right: 20px;
    }

    .search-box {
        font-size: 2vw;
        width: 20vw;
        right: 20px;
    }
}

/* Media Query for Desktop (large screens) */
@media (min-width: 1280px) {
    .header {
        font-size: clamp(1vw, 2vw, 25px);
    }

    .media-logos img {
        max-width: 14vw;
    }

    .social-medias img {
        gap: 1vw;
        width: 2vw;
        top: 50%;
        right: 0;
    }

    .search-box {
        font-size: 1vw;
        width: 20vw;
        right: 0;
    }
    .first-paragaph{
    margin-top:1.25rem;
    width:39vw;
    word-wrap:break-word;
    font-size:clamp(1.5vw,2.1vw,2.3vw);
    line-height:4vh;
    display:block;
    margin-left:10px;
    font-weight:400;
    color:white;
    background-color:rgba(0,0,0,0.5)
    }
}
