@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');
:root{
    --primary-clr:rgb(31,41,55);
    --secondary-clr:rgb(215,0,38);
    --supporting-clr:rgb(244,233,216);
    --background-clr:rgb(245,245,245);
}
html{
    font-size:16px;
    background-color:var(--background-clr);
}
*{
    margin:0;
    font-family:'Noto Serif JP', serif;
}
.navigation-pane{
    z-index:0;
    box-shadow:1px 1px 1px 0.5px gray;
    height:clamp(5vh,8vh,8vh);
    position:relative;
    width:100%;
    display:flex;
    border-style:solid;
    background-color:var(--primary-clr);
    
}
.header{
    display:flex;
    align-content:center;
    font-size:clamp(1vw,2.3vw,25px);
    text-align:center;
    height:auto;
    top:0;
    color:var(--supporting-clr);
}
.header div{
    text-align:center;
    display:flex;
    align-items:center;
    padding:1vw;
    
}
.media-logos img{
  object-fit:contain;
   max-width:14vw;
   height:100%;
   
   
    
        
}
.media-logos{
    height:100%;
    object-fit:contain;
}

 
  


.search-box{
    height:3vh;
    display:flex;
    position:absolute;
    top:50%;
    font-size:3vw;
    width:21vw;
    transform:translateY(-50%);
    min-width:5vw;
    border:1px;
    border-style:solid;
    right:0;
    border-radius:20px;
    
}
.social-medias{
    display:inline-block;
    height:100vh;
    
}
.social-medias img{
    display:flex;
    flex-direction:row;
    margin-top:1vh;
    margin-left:1vh;
    max-width:6vw;
    
}
.home-hero{
    position:relative;
    width:100%;
    background-image:url('/background-image/newhomehero.jpg');
    height:60vh;
    object-fit:cover;
    background-size:cover;
    background-position:right 0px top -190px;
}

.menu{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    z-index:0;
    position:relative;
    flex-grow:1;
    height:2vh;
    font-size:1.2rem;
      
    
    

}
.menu>div {
    border-style:solid;
    border-top:none;
    border-right:none;
    justify-items:center;
    text-align:center;
    align-items:center;

}
.Menu1{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    font-size:clamp(14px,1.4vw,3.1vw);
    text-align:center;
    margin-top:3vh;
    border-radius:20px;
    margin-left:10vw;
    margin-right:10vw;
    gap:2vw;
    box-shadow:1px 1px 2px 1px rgba(0,0,0,0.5);
    background-color: var(--supporting-clr);
   

   
    


}
.Menu1 img{
    width:7rem;
    height:13vh;
    object-fit:contain;
    display:flex;
    position:relative;

    
}
.Menu1 p{
    color:var(--supporting-clr);
    display:flex;
    right:30%;
    font-size:2rem;
    


   
}

.Menu1>div{
    display:flex;
    border-width:0.5px;
    border-radius:20px;
    background-color:var(--primary-clr);
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    position:relative;

}
.Hero{
    display:flex;
   
    
    
    margin-top:10px;
}
.Hero>div{
   
}
.Hero img{
    object-fit:cover;
    width:33vw;
    height:40vh;
}
.Soba-menu img{
    width:6rem;
    height:6rem;
    object-fit:contain;
    border-radius:90px;
    display:flex;
    position:relative;
    top:-10px;
}
.Soba-menu{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-left:5vw;
    margin-right:5vw;
    position:relative;
}
.Soba-menu>div{
    border-radius:20px;
    background-color:gray;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:30rem;
    height:12rem;
    flex-wrap:wrap;
    margin-top:30px;
    position:relative;
    font-size:1.5rem;
    font-family:'Noto Serif JP', serif;
    background-color:var(--primary-clr);

}
.Soba-menu p{
    text-align:center;
    font-size:2rem;
    font-family:EB-Garamond;
    color:gold;
    
    color:var(--supporting-clr);
    
    
    
}
.price{
    display:flex;
    position:absolute;
    font-size:1.5rem;
    bottom:0;
    color: var(--supporting-clr);
}
.hamburger-menu{
    display:none;
    z-index: 100;
    
}
.hamburger-drop-down{
    display:none;
    gap:10px;
    position: absolute;
    top: 100%; /* Position below the image */
    left: 0;
    background-color:black; /* Semi-transparent background */
    color: white;
    padding: 40px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100000; /* Ensure it appears above other content */
    flex-direction:column;
    font-family:'Times New Roman', Times, serif;
}
.hamburger-drop-down>div{
    z-index: 10000;
}


    


    
    

@media (min-width:300px) and (max-width:600px){
    .Menu1{
        display:flex;
        flex-direction:column;
    }
    .Menu1 img{
        
    }
    .hamburger-menu{
        display:flex;
        position:relative;
        width:6rem;
        align-items:center;

        
    }

    .hamburger-menu img{
        width:3rem;
        height:3rem;
        display:flex;
        position:relative;

    }
    
    .hamburger-menu:hover .hamburger-drop-down{
        display:inline-block;
        position:relative;
        top:110px;
        width:100%;
        left:-100px;
        padding-right:260px;
        padding-left:100px;

        
    }
    .hamburger-menu:active ~ .menu,
.hamburger-menu:active ~ .menu > * {
    
    border: none !important; /* Remove any borders */
    background: none !important; /* Remove any background */
}
        
    }
    .media-logos img{
        max-width:15vw;
        height:100%;                                        
        
    }
    html{
        font-size:12px;
    }
    #header-mobile{
        display:none;
    }
    
    
   
   



/* Media Query for Desktop (large screens) */
